# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem

# lock files
package-lock.json
yarn.lock.json
pnpm-lock.yaml

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# IDEs and editors
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
